<div class="container">
      <h2>About Us</h2>
      <p>Tradewinz is a free offering from Intuit Labs. We're passionate about helping small businesses succeed.
        By enabling trusted connections, we're helping entrepreneurs unite to share resources and know-how for mutual benefit.
      </p>
      <h2>Contact Us</h2>
      <p>
        Questions or feedback? Send us a note at
        <a href="mailto:tradewinz@intuit.com?subject=Feedback" class="btn-link">tradewinz@intuit.com</a>
      </p>
</div>