
<div class="container">

  <div class="span12">

      <h3>About Us</h3>

      <p>Tradewinz is a free offering from Intuit Labs. We're passionate about

        helping small businesses succeed. By enabling trusted connections, we're

        helping entrepreneurs unite to share resources and know-how for mutual

        benefit.</p>

  </div>

  <div class="span12">

      <h3>Contact Us</h3>

      <p>Questions or feedback? Send us a note at 
        <a href="mailto:tradewinz@intuit.com?subject=Feedback" class="btn-link">tradewinz@intuit.com</a>
      </p>            
      
  </div>

</div>