<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2>How It Works</h2>

  <h3>If you have work space to share</h3>
  <br>

  <ol>
    <li>Create your listing on tradewinz.  The more love you put into the listing, the more business you’ll get.
      Contact us if you need help. </li>
    <br>

    <li>You’ll get an email notification when someone expresses interest in your listing.
      We’ll tell you if they meet your requirements, or we can follow up on any specific concerns you have.
      On a weekly basis, we’ll send you a report on how many people reviewed your listing.  </li>
    <br>

    <li>Tell us which applicants may contact you.  You’re in charge of who can use your space,
      and we won’t release your contact information until you give us approval. We’ll save you from spammers!   </li>
    <br>

    <li>Communicate with the applicant to finalize the rental agreement (or swap arrangement).
      Make sure you discuss rules for what’s on or off limits in the your space.
      We’re here to help you if you have questions.  </li>
    <br>

    <li>Enjoy the extra cash you just made!  </li>
    <br>

  </ol>

  <h3>If you need work space</h3>
  <br>

  <ol>
    <li>Review the listings available on tradewinz.
      Check out the description and host profile to see if they match what you’re looking for. </li>
    <br>
    <li>Select and submit the listings you’re interested in.
      You can also ask any questions you want us to share with the host.   </li>
    <br>
    <li>You’ll get an email notification as soon as we’ve heard from the host.   We’ll consolidate all the answers
      to your questions, saving you time.  If the host does not feel that he/she can accommodate your request,
      we’ll let you know  </li>
    <br>
    <li>Contact the host(s) who are excited to talk to you and won’t waste your time.
      We won’t share your contact information until they tell us they’re interested.
      Finalize the rental agreement (or swap arrangement).
      Make sure you know how to get into the space and how to work any equipment provided.  </li>
    <br>
    <li>Get your work done in the space you need – and pocket the savings you made by working with another
      local entrepreneur vs. a commercial property. </li>
    <br>
  </ol>
  <br>
  <h4>Do us a kindness and tell us how your experience was, so we can make improvements.
    And even better – tell your friends and colleagues! </h4>
  <br>
</div>