<!doctype html>

<html>

  

  <head>

    <script src="https://app.divshot.com/js/jquery.min.js"></script>

    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">

    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css"> 

  </head>

  

  <body>

    <div class="container-fluid">      

      <div class="container">

        <div class="row">

          <div class="span5">
            <%= image_tag("floorplan.png", alt: "Unused Office image") %>
          </div>

          <div class="span4">

            <div class="hero-unit" style="padding: 40px; background-color:#3679BD; color: #ffffff; font-family: Trebuchet MS">

              <p style="font-size: 30px">See what your extra work space is worth</p>

              <p style="font-size: 17px">Tell us about your space, and we'll tell you how much it's worth.</p>

              <%= form_for(@rentestimate) do |f| %>
                
                <!--%= f.text_field :industry --> 
                <input type="text" name="rentestimate[industry]" placeholder="Your Industry" class="input-large" style="height: 34px;"/>

                <input type="text" name="rentestimate[location]" placeholder="Zip code" class="input-large" style="height: 34px;"/>
                <br>
                <button class="btn btn-warning btn-large" style="width: 225px; color:#000000" type="submit">Get Estimate</button>

              <% end %>

            </div>

          </div>

        </div>

      </div>
      
    </div>

  </body>


</html>

<!--%= render 'form' %-->