    <div class="container-fluid">      

      <div class="container">

          <div class="span4">
            <%= image_tag("floorplan_373x287.png", alt: "Unused Office image") %>
          </div>

          <div class="span6">

            <div class="hero-unit" style="padding: 40px; background-color:#3679BD; color: #ffffff; font-family: Trebuchet MS">

              <!--p style="font-size: 30px"></p-->
              <h2>Find out how much your extra space is worth</h2>

              <!--p style="font-size: 17px">Tell us about your space, and we'll tell you how much it's worth.</p-->
              <br>

              <%= form_for(@rentestimate) do |f| %>
                
                <!--%= f.text_field :industry --> 
                <select id="businessType" name="rentestimate[industry]">                  
                        <option class="ghostText" value="">Select Your Industry</option>
                        <option value="Accounting">Accounting, Bookkeeping  </option>
                        <option value="Advertising">Advertising, Public Relations </option>
                        <option value="Construction">Construction, Contracting </option>
                        <option value="Professional Services">Consulting/Professional Services  </option>
                        <option value="Architecture and Engineering">Design, Architecture, Engineering </option>
                        <option value="Food Services">Food and Accommodation services ( restaurant, hotels, etc.)  </option>
                        <option value="Legal Services">Law Firm, Legal Services  </option>
                        <option value="Manufacturing">Manufacturing </option>
                        <option value="Health Services">Medical, Dental, Health Services  </option>
                        <option value="Nonprofit">Nonprofit </option>
                        <option value="Personal Services">Personal services (spa, hair salons, auto repair, landscaping, etc.)  </option>
                        <option value="Property">Property Management </option>
                        <option value="Retail">Retail Store  </option>
                        <option value="Wholesale">Wholesale, Distribution </option>
                        <option value="Other">Other Industry</option>
                </select>                    

                <!--input type="text" name="rentestimate[industry]" placeholder="Other Industry Name" class="input-large" style="height: 34px;"/-->
                <br>
                <input type="text" name="rentestimate[location]" class="input-large" />
                <br>
                <button class="btn btn-warning btn-large btn-call-to-action" style="color:#000000" type="submit" id="getEstimateBtn">Get Estimate</button>

              <% end %>

            </div>

          </div>

      </div>
      
    </div>
<!--%= render 'form' %-->