
<div class="container">

  <h3 id="notice" style="font-family: Trebuchet MS;">
    Thank you for your interest!
  </h3>
  <p style="font-family: Trebuchet MS;">We will follow up with more details in our next update</p>
  <br>
  <p style="font-family: Trebuchet MS;">
    Questions or feedback? Send us a note at
    <a class="btn-link" href="mailto:tradewinz@intuit.com?subject=Feedback about sharing office space">tradewinz@intuit.com</a>
  </p>
  <br>
</div>
