
<div class="container">

  <h3 id="notice" style="font-family: Trebuchet MS;">
    Thank you for submitting your contact information
  </h3>
  <p style="font-family: Trebuchet MS;">Someone from our team will contact you soon</p>
  <br>
  <p style="font-family: Trebuchet MS;">
    Questions or feedback? Send us a note at
    <a class="btn-link" href="mailto:tradewinz@intuit.com?subject=Feedback about sharing office space">tradewinz@intuit.com</a>
  </p>
  <br>
</div>
