
  <div class="container">

    <div class="hero-unit" style="background-color:white; border-style:solid; border-width:2px; border-color: #eeeeee; font-family: Trebuchet MS; padding-bottom: 100px;">

      <p style="font-size:20px; color: #333333;"> 
        <strong>
          You can earn an average* of $5000 in annual income by renting your unused office space. The market rate can be up to 50% higher than the price you pay per square foot.
        </strong> 
      </p>
      <p style="font-size:16px; color: #505050;">
        Intuit Labs is developing a solution for our small business community to share space. Intuit will identify and verify trusted connections. No Fees. Our goal is to support local small businesses.
        <br>
        <br>
        Interested ? Lets keep in touch. We'll update our progress and invite you to participate in the Beta.
        <br>

      </p>

      <%= form_for(@rentestimate) do |f| %>
  
        <div class="pull-left form-horizontal" style="margin-right:10px;">
            <!--input type="file" name="rentestimate[image]"-->
            <input type="email" name="rentestimate[email]" placeholder="Email address" class="input-xlarge" style="height: 34px;">
            <button class="btn btn-primary btn-large" type="submit" id="contactMeBtn">
              Stay in touch
            </button>
            <span style="font-size: 14px; color: #999999">  We promise we won't sell your address </span>
            <br>
        </div>

        <p style="font-size:12px; color: #505050;">
          <br>
          <br>
          * Average is based on shared office space of 150 square feet. Actual rent will vary based on factors such as location, amenities, and equipment.
        </p>

      <% end %>

    </div>

  </div>

<!--%= render 'form' %-->