<h2>Update Listing</h2>

<%= render 'form' %>

<br>
<%= link_to "Show this listing", @rentestimate, class: "btn btn-medium" %>
<%= link_to "View all listings", rentestimates_path, class: "btn btn-medium" %>
<br><br>