<!doctype html>

<html>  

  <head>

    <script src="https://app.divshot.com/js/jquery.min.js"></script>

    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">

    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css"> 

  </head>
  

  <body>

    <div class="container-fluid">

      <div class="container">

        <div class="hero-unit" style="background-color:white;border-style:solid;border-width:2px;border-color: #eeeeee;">

          <h2>Thank you for your interest!</h2>

          <p>We are working hard to finish this service. We've learned that you can

            earn up to a 30% premium on rent for your unused work space. Enter your

            email address below and we'll stay in touch with you to let you know when

            our service is ready.</p>

            <%= form_for(@rentestimate) do |f| %>
      
              <div class="pull-left form-horizontal" style="margin-right:10px;">
                  <!--%= f.text_field :industry -->              
                  <input type="email" name="rentestimate[email]" placeholder="Email address" class="input-xlarge" style="height: 34px;">
                  <button class="btn btn-primary btn-large" type="submit">Stay in touch</button>
              </div>

            <% end %>

        </div>

      </div>

      

    </div>

  </body>


</html>


<!--%= render 'form' %-->