
<div class="container-fluid">

  <div class="container">

    <div class="hero-unit" style="background-color:white; border-style:solid; border-width:2px; border-color: #eeeeee; font-family: Trebuchet MS; padding-bottom: 100px;">

      <p style="font-size:24px; color: #333333;"> <strong> Thank you for your interest! </strong> </p>

      <p style="font-size:16px; color: #505050;">
        We are working hard to finish this service. We've learned that you can

        <strong>earn up to a 30% premium on rent for your unused work space.</strong> Enter your

        email address below and we'll stay in touch with you to let you know when

        our service is ready.
      </p>

      <%= form_for(@rentestimate) do |f| %>
  
        <div class="pull-left form-horizontal" style="margin-right:10px;">
            <!--%= f.text_field :industry -->              
            <input type="email" name="rentestimate[email]" placeholder="Email address" class="input-xlarge" style="height: 34px;">
            <button class="btn btn-primary btn-large" type="submit">Stay in touch</button>
            <span style="font-size: 14px; color: #999999">   We promise we won't sell your address </span>
        </div>

      <% end %>

    </div>

  </div>

</div>

<!--%= render 'form' %-->