<!DOCTYPE html>

<html>

  

  <head>

    <script src="https://app.divshot.com/js/jquery.min.js"></script>

    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">

    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css"> 

  </head>

  

  <body>

    <div class="container">
      <h3 id="notice">Thank for submitting the information</h3> 
        <p> Someone from our team will contact you soon</p>
    </div>

  </body>

</html>


