

    <div class="container">

      <h3 id="notice" style="font-family: Trebuchet MS;">
      	Thank you for submitting your contact information
      </h3> 
        <p style="font-family: Trebuchet MS;">Someone from our team will contact you soon</p>
    </div>

